@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,900,400italic,700italic,900italic);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background: #fff;
    color: #333;
  }

h2 {
      text-align: center;
  }
  
.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
    text-align: center;
    background-color: burlywood;
  }

.container2 {
    background-color: crimson;
    padding-bottom: 3rem;
}  

.container3 {
    background-color: cyan;
}

.score {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.2rem;
    color: black;
  }

.choice {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
    text-align: center;
  }
.icon {
    cursor: pointer;
    transition: all .2s ease-in-out; 
  }
  
.icon:hover {
    color: rgb(15, 15, 119);
    transform: scale(0.9);
  }  

.selections {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
    text-align: center;
  }

h3 {
    animation: text-shadow 1.5s ease-in-out infinite;
    font-size: 3em;
    font-weight: 700;
    line-height: 1;
}
.winner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    width: 100%;
    text-align: center;
}

h3:hover {
    animation-play-state: paused;
}

a {
    color: #024794;
}

a:hover {
    text-decoration: none;
}

@keyframes text-shadow {
    0% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }

    20% {  
        transform: translateY(-1em);
        text-shadow: 
            0 0.125em 0 #0c2ffb, 
            0 0.25em 0 #2cfcfd, 
            0 -0.125em 0 #fb203b, 
            0 -0.25em 0 #fefc4b;
    }

    40% {  
        transform: translateY(0.5em);
        text-shadow: 
            0 -0.0625em 0 #0c2ffb, 
            0 -0.125em 0 #2cfcfd, 
            0 0.0625em 0 #fb203b, 
            0 0.125em 0 #fefc4b;
    }
    
   60% {
        transform: translateY(-0.25em);
        text-shadow: 
            0 0.03125em 0 #0c2ffb, 
            0 0.0625em 0 #2cfcfd, 
            0 -0.03125em 0 #fb203b, 
            0 -0.0625em 0 #fefc4b;
    }

    80% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
    }
}

  @media (max-width: 700px) {
    .choice {
      font-size: 10px;
    }
  }
  
  @media (max-width: 500px) {
    .choice {
      font-size: 5px;
    }
  }