:root {
    --modal-duration: 1s;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #003049;
    min-height: 100vh;
    max-width: 100%;
  }

header { 
  border: 3px solid #eae2b7;
  border-radius: 20px;
  padding: 20px;
  margin: 50px 0;
  align-items: center;  
  text-align: center;
}


h1 {
    color: #fcbf49;
    line-height: 2rem;
    text-transform: uppercase;
}

h4 {
    color: #f77f00;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    
}

.score-container {
    background-color: #eae2b7;
    border-radius: 10px;
    padding: 10px 0px;
    text-align: center;
}

.score-container p {
    color: #003049;
    font-size: 3.5rem;
    font-weight: 700;
    margin: 0;
}

.score-wrapper {
    display: grid;
    justify-content: center;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(10em, 15em));
    width: 100%;
    padding-top: 2rem;
    max-width: 100%;
    overflow: auto;
}


h2 {
      text-align: center;
      color: #eae2b7;
  }
  
.container {
    max-width: 800px;
    margin: auto;
  } 


.choice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

.icon2 {
    color: #003049;
    padding: 1rem;
}

.icon {
    cursor: pointer;
    transition: all .2s ease-in-out; 
    color: #eae2b7;
  }
  
.icon:hover {
    color: #fcbf49;
    transform: scale(0.9);
  }  

.selections {
    display: flex;
    text-align: center;
    color: #003049;
    border-radius: 10px;
  }

.tooltip {
    display:inline-block;
    position:relative;
    text-align:left;
}

.tooltip .bottom {
    min-width:100px; 
    max-width:200px;
    top:100%;
    left:50%;
    transform:translate(-50%, 0);
    padding:8px 15px;
    color:#f77f00;
    background-color:#eae2b7;
    font-weight:normal;
    font-size:10px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    visibility:hidden; opacity:0; transition:opacity 0.8s;
}

.tooltip:hover .bottom {
    visibility:visible; opacity:1;
}

.tooltip .bottom i {
    position:absolute;
    bottom:100%;
    left:50%;
    margin-left:-12px;
    width:24px;
    height:12px;
    overflow:hidden;
}

.tooltip .bottom i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:50%;
    transform:translate(-50%,50%) rotate(45deg);
    background-color:#EEEEEE;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}
 

.container2 {
  border: 3px solid #eae2b7;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  margin: 50px 0;
  align-items: center; 
  background-color: #eae2b7;
  width: 100%;
  overflow: auto;
}

.inner-box {
    max-width: 100%;
    margin: auto;
    width: 800px;
    padding: 5px;
    overflow: auto;
}


h3 {
    font-size: 3em;
    font-weight: 700;
    line-height: 1;
}
.winner {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    text-align: center;
    color: #f77f00;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.restart-btn {
    display: flex;
    justify-content: center;
    background: transparent;
    color: #f77f00;
    padding: 0.5rem 1rem;
    font-size: .9rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
    outline: none;
    border: 3px solid #f77f00;
    border-radius: 10px;
    margin-bottom: 1rem;
  }

.restart-btn:hover {
    background: #eae2b7;
    transform: scale(1.1);

  }
 /* modal display */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.5);
  }
  
.modal-content {
    background: #fff;
    text-align: center;
    margin: 10% auto;
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
    padding: 3rem;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
  }
  
.modal-content h1 {
    margin-bottom: 1rem;
  }
  
.modal-content p {
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  
@keyframes modalopen {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  

@media (max-width: 700px) {
    .choice {
      font-size: 10px;
    }
    header {
        font-size: 10px;
    }
    .modal {
        font-size: 10px;
    }
  }
  
@media (max-width: 500px) {
    .choice {
      font-size: 10px;
      margin-top: 2rem;
      padding: 1rem;
    }
    header {
        font-size: 12px;
        padding-left: 0;
        padding-right: 0;
        margin-top: 1rem;
        border: none;
    }
    .score-wrapper {
        font-size: 7.5px;
        
        /* letter-spacing: 2px; */
    }

    .winner {
        padding: 0;
    }

    h3 {
        font-size: 16px;
    }

    h4 {
        letter-spacing: 1px;
        padding: 0;
        font-size: 11px;
    }

    p {
        font-size: 10px;
    }
    .container2 {
        font-size: 10px;
        padding-left: 0;
        padding-right: 0;
    }
  }
